<%= form_for(@user) do |f| %>
  <%  %>

<% end %>
  <p>
    <label>Email</label>
    <input type="text" name="" value="">
  </p>

  <fieldset>
    <legend>Home Address</legend>
    <p>
      <label>Street 1</label>
      <input type="text" name="user[addresses_attributes][][street_1]" value="">
    </p>
    <p>
      <label>Street 2</label>
      <input type="text" name="user[addresses_attributes][][street_2]" value="">
    </p>
    <!-- How make sure this is home address? -->
    <input type="hidden" name="user[addresses_attributes][][address_type]" value="Home">
  </fieldset>

  <fieldset>
    <legend>Business Address</legend>
    <p>
      <label>Street 1</label>
      <input type="text" name="user[addresses_attributes][][street_1]" value="">
    </p>
    <p>
      <label>Street 2</label>
      <input type="text" name="user[addresses_attributes][][street_2]" value="">
    </p>
    <!-- How make sure this is home address? -->
    <input type="hidden" name="user[addresses_attributes][][address_type]" value="Home">
  </fieldset>

  <fieldset>
    <legend>Existing Team by Name</legend>
    <p>
      <label>Enter Team Name</label>
      <input type="text" name="" value="">
    </p>
    <p>
      <label>Hometown</label>
      <input type="text" name="" value="">
    </p>
  </fieldset>

  <fieldset>
    <legend>Create New Name</legend>
    <p>
      <label>Enter Team Name</label>
      <input type="text" name="" value="">
    </p>
    <p>
      <label>Hometown</label>
      <input type="text" name="" value="">
    </p>

    <input type="submit" name="Submit" value="">
  </fieldset>

</form>
